.dashboard {
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "main-view work-view";
    overflow: hidden;
}

.main-view {
    grid-area: main-view;
    max-height: 100vh;
}

.work-view {
    grid-area: work-view;
    height: 98vh;
    align-self: center;
    position: absolute;
    right: 0;
}

.work-view.hidden {
    transform: translateX(100%);
}

.gutter {
    margin-top: 150px;
}

.main-content {
    width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}

.welcome-text {
    color: #727272;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}