$card-gap: 25px;
$card-width: 250px;
$card-height: calc(500px + #{$card-gap});

.subreddit-list {
  margin-top: 200px;
}

.subreddit-list h3 {
  margin: 20px 0 20px;
}

.subreddit-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.subreddit-column {
  width: $card-width;
  height: $card-height;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.subreddit-item {
  width: 100%;
  height: 100%;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  margin-bottom: $card-gap;
  margin-right: $card-gap;
}

.subreddit-item__icon {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.subreddit-item__title {
  color: rgb(155, 155, 155);
  margin-top: 15px;
}

.subreddits_count {
  font-size: 1rem;
  color: rgb(155, 155, 155);
}
